<h1>새로운 포스트를 입력 할 화면</h1>
<form action = "/posts/create" method= "post">
    <p>제목</p>
    <input type="text" name="input_title">
    <P>내용</P>
    <input type="text" name="input_content">
    <p>제출</p>
    <input type="submit">
</form>